* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
  padding: 20px;
}

.product-container {
  max-width: 900px;
  margin: auto;
  background: #ffffff;
  padding: 20px;
  display: flex;
  gap: 30px;
  border-radius: 10px;
}

.product-image img {
 width: 260px;
  border-radius: 10px;
}


.product-details {
  flex: 1;
}

.product-title {
  font-size: 26px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 22px;
  color: #2e7d32;
  margin-bottom: 20px;
}

.quantity-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.quantity-box button {
  width: 35px;
  height: 35px;
  font-size: 18px;
  cursor: pointer;
}

.quantity-box span {
  font-size: 18px;
  width: 30px;
  text-align: center;
}

.add-to-cart {
  background-color: #ff6f00;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #e65100;
}

/* Responsive (Mobile View) */
@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    text-align: center;
  }

  .product-image img {
    width: 100%;
  }

  .quantity-box {
    justify-content: center;
  }
}
