* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card */
.product-card {
  display: flex;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  max-width: 800px;
  width: 100%;
  gap: 40px;
}

/* Image */
.image-section img {
  width: 300px;
  border-radius: 10px;
}

/* Details */
.details-section h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #3e2723;
}

.price {
  font-size: 22px;
  color: #6d4c41;
  margin-bottom: 15px;
}

.description {
  font-size: 15px;
  color: #555;
  margin-bottom: 25px;
  line-height: 1.6;
}

/* Quantity */
.quantity {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.quantity button {
  width: 35px;
  height: 35px;
  font-size: 20px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.quantity span {
  font-size: 18px;
}

/* Button */
.add-cart {
  background-color: #4e342e;
  color: #ffffff;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  width: fit-content;
  position: relative;
  bottom: 13px;
}

.add-cart:hover {
  background-color: #3e2723;
}

.action-row {
  display: flex;
  align-items: center;
  gap: 20px;
  
}
